/*Colors and fonts*/

body {
	background-color: rgba(240, 240, 240, 1);
	color: rgba(50, 50, 50, 1);
	font-size: 16px;
	font-family: Helvetica;
}
h1 {
	color: #6393C1;
	font-weight: 900;
	letter-spacing:	2px;
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}

#Photodemoi{
	width: px;
	height: px;
	border-radius: 47%;
	box-shadow: 3px 3px 5px black;
}

#introduction p {
	margin-bottom: 40px;
}

h2 {
	color: rgba(100, 100, 100, 1);
	font-weight: bolder;
	letter-spacing:	2px;
	font-size: 24px;
	font-family: Lora;
}
a{
	text-decoration: none;
	color: #6393C1;
	font-weight: bold;
	transition: color 0.15s ease;
}

#btn-gris {
	border: 2px black;
	background-color: rgba(240, 240, 240, 1);
	padding: 8px 12px;
	border-radius: 4px;
}

a:hover {
	color: white;
}

.container {
	margin: 20px auto;
	width: 600px;
}

@media (max-width: 800px) {
	.container {
	 width: 500px;
	}
}

@media (max-width: 500px) {
	.container {
	 width: 300px;
	}
}

.card-white {
	background: white;
	border: 2px black;
	border-radius: 8px;
	box-shadow: 0px 15px 35px rgba(50, 50, 93, 0.15);
	padding: 30px;
	margin: 20px auto;
	text-align: center;
}

.list-inline {
	list-style: none;
	padding-left: 0;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 30px;
	color: #6393C1;
}
